<div class="container1" ng-controller="downloadCtrl" >
  <div class="row">
    
    <center><h4>Files on Server</h4></center>
    
    <hr>
    
    <ul class="collapsible popout" id="directories" data-collapsible="accordion" >
        <li ng-repeat="(key, value) in localFiles track by $index" ng-if="value.length > 0"> 
            <div class="collapsible-header truncate center">
                <i class="material-icons"> folder </i>
                {{key}}
            </div>
            <div class="collapsible-body center">
              <ul class="collapsible popout" id="episodes" data-collapsible="accordion" >
                  <li ng-repeat="(key2, value2) in value track by $index"> 
                      <div class="collapsible-header truncate center">
                          <i class="material-icons"> folder </i>
                          {{value2.fileName}}
                      </div>
                      <div class="collapsible-body center" style="min-height: 60px">
                            <button style="margin-top: 12px" id="strbutton_{{key}}_{{key2}}}" ng-click="sendPlayRequest(baseUrl + ':8081/' + key + '_' + value2.fileId + '/' + value2.fileName);" class="btn waves-effect waves-light" target="_blank" > Play </button> 
                            <span style="width: 10px;"></span>
                            <a style="margin-top: 12px" id="dlbutton_{{key}}_{{key2}}" class="btn waves-effect waves-light"  href="{{baseUrl}}:8081/{{key}}/{{value2.fileName}}"> Get File </a>
                      </div>
                  </li>    
              </ul>
              <script type="text/javascript">
                $(document).ready(function(){
                  $('.collapsible').collapsible({
                    accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                  });
                });
              </script>
            </div>
        </li>    
    </ul>
  </div> 
<hr>
 <center><h4>Currently Downloading</h4></center>
<hr>

  <div class="row" style="visibility: {{dlVisible}};">
    <div class="col s12 card ">
      <div class="card-content">
        <span class="card-title">{{download.fileName}}<span class="right"> {{download.downloadSpeed}} kb/s </span></span>
        <div class="progress" style="padding: 20px; margin-right: 10%; margin-left: 10%; width: 80%;" >
            <div class="determinate" style="width: {{download.downloadProgress}}%"><span class="white-text right" style="font-size: 28px;">{{download.downloadProgress}}%</span> </div>
        </div>
      </div>
      <div class="card-action row">
        <div class="col s4">
          <a target="_blank" class="waves-effect waves-light btn right text-blue" href={{baseUrl}}{{download.downloadUrl}}>Get File</a>
        </div>
        <div class="col s4">
            <a class="waves-effect waves-light btn center text-blue" href="" ng-click="sendPlayRequest(baseUrl + download.streamUrl)">Play</a>
        </div>
        <div class="col s4">
            <a class="waves-effect waves-light btn left red" href="" ng-click="abortDownload()">Abort Download</a>
        </div>
      </div>
    </div>
  </div>
</div>

